<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Bacteria Analysis Tool</title>
    </head>

    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='asset/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">Bacteria Analysis Tool
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
             </div>
        </nav>

        <div class="container" style="margin-top: 10%;">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <h5 class="card-header">Bacteria Classifier</h5>
                        <div class="card-body">
                        
                            <h5 class="card-title">Upload an image to analyze</h5>
                            <p class="card-text">For best performance use a 100 times objective lens under oil-immersion</p>

                            <form action="/classify" method="POST" id="classify-form" enctype="multipart/form-data">
                                <div class ="upload-button">
                                    <label id="labelId" for="file" >Choose a file</label>
                                    <img src="{{ url_for('static', filename='upload-white.png') }}"/>
                                </div>

                                <input type="file" class="file" name="file" id="file" accept="image/*">
                                
                                <input class="btn btn-primary" type="submit" value="Start Analysis" id="predict"/>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card">
                        <h5 class="card-header">Bacteria Colony Counter</h5>
                        <div class="card-body">
                        
                            <h5 class="card-title">Upload an image to analyze</h5>
                            <p class="card-text">For best performance use a good camera</p>
                            <br>
                            <form action="/count" method="POST" id="classify-form" enctype="multipart/form-data">
                                <div class ="upload-button">
                                    <label id="labelId" for="file" >Choose a file</label>
                                    <img src="{{ url_for('static', filename='upload-white.png') }}"/>
                                </div>

                                <input type="file" class="file" name="file" id="file" accept="image/*">
                                
                                <input class="btn btn-primary" type="submit" value="Start Analysis" id="predict"/>
                            </form>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>